# Multi Year score
Given a target year, it computes a score for each image year of adquisition

This score is a constant value for the whole scene (not per-pixel)

In [2]:
import ee
ee.Initialize()

In [3]:
from geetools import ui, tools

In [4]:
from geebap import scores, satcol
from geebap.season import Season

In [5]:
p = ee.Geometry.Point([-71.33972167968751, -42.737619925503054])
aoi = p.buffer(8000).bounds()

In [6]:
col = satcol.Collection.Landsat8USGS()

In [7]:
colEE = col.colEE.filterBounds(aoi).map(col.ndvi)

In [8]:
start = '2015-11-15'
end = '2019-02-15'

In [9]:
colEE = colEE.filterDate(start, end)

In [10]:
year = 2018

In [15]:
years = list(range(2015, 2020))

## Score Linear

In [11]:
score = scores.MultiYear(season=Season.Growing_South(), main_year=year)

In [13]:
newcol = score.map(colEE, years=years)

In [14]:
chart = ui.chart.Image.series(newcol, p, scale=30, bands=['score-multi'], label_bands=['linear'])

## Score Normal

In [16]:
newcol_n = score.map(colEE, years=years)

In [17]:
chart_n = ui.chart.Image.series(newcol_n, p, scale=30, bands=['score-multi'], label_bands=['gauss stretch 1'])

## PLOT

In [18]:
both = chart.cat(chart_n)
both.render_widget(width=800)

HTML(value='<embed src=data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgâ€¦

In [19]:
both.dataframe

                         gauss stretch 1  linear
2015-11-21 14:30:02.220              0.0     0.0
2015-11-21 14:30:26.190              0.0     0.0
2015-11-30 14:24:15.630              0.0     0.0
2015-12-07 14:30:01.020              0.0     0.0
2015-12-07 14:30:24.980              0.0     0.0
2015-12-16 14:24:14.720              0.0     0.0
2015-12-23 14:30:01.880              0.0     0.0
2015-12-23 14:30:25.850              0.0     0.0
2016-01-01 14:24:12.810              0.0     0.0
2016-01-08 14:29:57.180              0.0     0.0
2016-01-08 14:30:21.130              0.0     0.0
2016-01-17 14:24:11.770              0.0     0.0
2016-01-24 14:29:58.310              0.0     0.0
2016-01-24 14:30:22.260              0.0     0.0
2016-02-02 14:24:09.290              0.0     0.0
2016-02-09 14:29:53.120              0.0     0.0
2016-02-09 14:30:17.080              0.0     0.0
2016-02-18 14:23:59.920              0.0     0.0
2016-03-05 14:23:59.670              0.0     0.0
2016-03-12 14:29:44.440              0.0     0.0
2016-03-12 14:30:08.410              0.0     0.0
2016-11-16 14:24:26.880              0.5     0.5
2016-11-23 14:30:13.960              0.5     0.5
2016-11-23 14:30:37.920              0.5     0.5
2016-12-02 14:24:26.270              0.5     0.5
2016-12-09 14:30:11.540              0.5     0.5
2016-12-09 14:30:35.500              0.5     0.5
2016-12-18 14:24:21.610              0.5     0.5
2016-12-25 14:30:07.620              0.5     0.5
2016-12-25 14:30:31.590              0.5     0.5
...                                  ...     ...
2017-12-12 14:30:26.980              1.0     1.0
2017-12-28 14:30:03.760              1.0     1.0
2018-01-06 14:24:13.700              1.0     1.0
2018-01-13 14:29:57.380              1.0     1.0
2018-01-13 14:30:21.340              1.0     1.0
2018-01-22 14:24:05.620              1.0     1.0
2018-01-29 14:29:47.980              1.0     1.0
2018-01-29 14:30:11.940              1.0     1.0
2018-02-07 14:23:57.490              1.0     1.0
2018-02-14 14:29:42.110              1.0     1.0
2018-02-14 14:30:06.070              1.0     1.0
2018-02-23 14:23:51.530              1.0     1.0
2018-03-02 14:29:34.900              1.0     1.0
2018-03-02 14:29:58.860              1.0     1.0
2018-03-11 14:23:42.780              1.0     1.0
2018-11-22 14:24:02.630              0.5     0.5
2018-11-29 14:29:48.650              0.5     0.5
2018-12-08 14:23:59.990              0.5     0.5
2018-12-15 14:29:45.600              0.5     0.5
2018-12-15 14:30:09.560              0.5     0.5
2018-12-24 14:23:59.000              0.5     0.5
2018-12-31 14:29:45.000              0.5     0.5
2018-12-31 14:30:09.000              0.5     0.5
2019-01-09 14:23:57.000              0.5     0.5
2019-01-16 14:29:43.000              0.5     0.5
2019-01-16 14:30:07.000              0.5     0.5
2019-01-25 14:23:54.000              0.5     0.5
2019-02-01 14:29:39.000              0.5     0.5
2019-02-01 14:30:03.000              0.5     0.5
2019-02-10 14:23:51.000              0.5     0.5

[78 rows x 2 columns]